@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght,XOPQ,XTRA,YOPQ,YTDE,YTFI,YTLC,YTUC@8..144,100..1000,96,468,79,-203,738,514,712&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Schoolbell&display=swap");
@import "tailwindcss";

@theme {
  /* Couleurs */
  --color-light: #ffffff;
  --color-not-so-light: #d9d9d9;
  --color-not-so-dark: #5b5b5b;
  --color-dark: #000000;
  --color-recette-light: #c2e5e2;
  --color-recette-dark: #699b97;
  --color-pro-light: #bfe2b9;
  --color-pro-dark: #799d73;
  --color-regime-light: #f3d0e3;
  --color-regime-dark: #b6819c;
  --color-gold: #d79703;
  /* Typo */
  --font-logo: Schoolbell, serif;
  --font-heading: Roboto Serif, serif;
  --font-common: Roboto Flex, sans-serif;
  /* Shadow */
  --menu-shadow: -2px 0 4px 0 rgba(0, 0, 0, 0.25);
  --base-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  --inside-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25) inset;
}

@layer base {
    h1,h2,h3 {
        @apply font-heading;
    }
    h1 {
        @apply text-3xl font-medium text-center;
    }
    h2 {
        @apply font-common text-lg font-medium;
    }
    h3 {
        @apply font-common text-base font-semibold text-center;
    }
    p {
        @apply font-common text-sm;
    }
    input {
        @apply outline-none;
    }
}

@layer components {
    .logo {
        @apply font-logo text-3xl text-center;
    }
    .centerflex {
        @apply flex justify-center items-center gap-2;
    }
}